:root {
    --primary-color: #1C9CEA;
    --secondary-color: #0A3550;
    --dark-color: #1A1C22;
    --white: #fff;
    --gray: #e8e8e8;
}

.ag-format-container {
    width: 60%;
    margin: 0 auto;
}
  
  .ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    padding: 150px 0;
  }
  .ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 32px);
    flex-basis: calc(33.33333% - 32px);
  
    margin: 0 15px 32px;
  
    overflow: hidden;
    
    border: solid 1px var(--secondary-color);
    border-radius: 28px;
  }
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
  
    overflow: hidden;
  
    position: relative;
  }
  .ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
  }
  .ag-courses-item_title > h2 {
    margin: 0 0 25px;
  
    overflow: hidden;
  
    font-weight: bold;
    font-size: 1.5rem;
    color: var(--primary-color);
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date-box {
    font-size: 1rem;
    color: var(--dark-color);
  
    z-index: 2;
    position: relative;
  }
  .ag-courses-item_date {
    font-weight: bold;
    color: var(--secondary-color);
  
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
  }
  .ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: var(--gray);
  
    z-index: 1;
    position: absolute;
    top: -100px;
    right: -100px;
  
    border-radius: 50%;
  
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
  
  
  
  @media only screen and (max-width: 979px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 32px);
      flex-basis: calc(50% - 32px);
    }
  }
  
  @media only screen and (max-width: 767px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }